.cardDiv {

  height: 300px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.142);
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  margin: 8% 20%;

  justify-content: space-between;
}

.imgDiv {
  width: 100%;
  height: 80%;



}

.imgDiv img {

  height: 100%;

}

.cardDivContainer {
  display: inline-block;
}

.filterBut {
  border: none;
  font-size: 15px;
  cursor: pointer;

}

.filterBut:hover {
  opacity: 0.8;
}

.filterDiv {
  position: absolute;
  background-color: azure;
  text-align: center;
  width: 200%;
  top: 100%;
  left: -50%;
  padding: 0;


}

.filterDiv ul {
  list-style: none;
  padding: 0;
  margin: 0;

}


.filterDiv ul li {

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.198);
  margin-top: 2px;
  cursor: pointer;
}

.filterDiv ul li :hover {
  opacity: 0.7;
}